{% load static wagtailcore_tags wagtailuserbar %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!--
            <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        -->
        <title>
            Jon Bergerøy Ryssdal
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/jonbergeroeyryssdal.css' %}">

        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
        />
        <!--https://creativecommons.org/licenses/by/4.0/-->
        <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="{% static 'favicon\apple-touch-icon.png' %}"
        
        />
        <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="{% static 'favicon\favicon-32x32.png' %}"
        />
        <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="{% static 'favicon\favicon-16x16.png' %}"
        />
        <link rel="manifest" href="favicon/site.webmanifest" />
        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/jonbergeroeyryssdal.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
