{% load wagtailimages_tags %}

<div class="position-relative">
  {% if value.head_image %}
    {% image value.head_image fill-1920x500 as img %}
    <img src="{{ img.url }}" class="img-fluid w-100" alt="{{ img.alt }}" />
  {% endif %}
  <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
   <pre class="fw-bold d-none d-md-block"><h1>{{ value.head_title }}</h1></pre>
    <pre class="fw-bold d-none d-md-block"><h2>{{ value.head_title_second }}</h2></pre>
  </div>
</div>


