{% load wagtailimages_tags %}
<div class="col-12 col-md-6  pb-4">  <!-- Changed pr-2 to pe-2 -->
  <div class="d-flex align-items-center ">
    <div class="me-3">  <!-- Adds margin to the right of the image -->
      {% image block.value.image fill-200x200 as img %}
      <img
        src="{{ img.url }}"
        alt="{{ img.alt }}"
        class="img-fluid frameworks_img"
      />
    </div>
    <div class="" >
      {{ block.value.description }}
    </div>
  </div>
</div>



