{% load wagtailcore_tags wagtailimages_tags %}
<div class="row justify-content-center text-center">
    <ul class="list-unstyled">
      <li>
        <a href="{{ self.cv_document.url }}" download>Click to download CV</a>
      </li>
      {% for link in self.social_media_links %}
      <li>{% include_block link %}</li>
      {% endfor %}
      <li>
        <a href="mailto:{{ self.email }}">{{ self.email }}</a>
      </li>
      <li>
        <a href="tel:{{ self.phone }}">{{ self.phone }}</a>
        <!-- Phone call link -->
      </li>
    </ul>
  </div>
 
