.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: white;
  }

  /* Remove the default blue color for links */
#contact a {
  color: black; /* Change to the desired text color */
  text-decoration: none; /* Remove underline */
}

/* Add underline on hover */
#contact a:hover {
  text-decoration: underline; /* Underline on hover */
}

#contact li {
  list-style-type: none; /* Remove default bullets */
}

  
  

  